# Dependencies
node_modules/
**/node_modules/

# Archives
*.zip
**/*.zip

# Production Build
dist/
**/dist/
dist-ssr/
**/dist-ssr/

# Environment Variables
.env
**/.env
.env.local
**/.env.local
.env.*.local
**/.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & System Files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Runtime Database
pragati_database.json
**/pragati_database.json
